@use "../base/font-face";

// Font Families
$font-family-primary: 'Nunito';
$font-family-bold: 'NunitoBold';
$font-family-extralight: 'Nunitoextralight';
$font-family-italic: 'NunitoItalic';
$font-family-courgette: 'Courgette';

// Colors
$color-primary: #F3DFC1;
$color-background: #F0F2EF;
$color-secondary: #368F8B;
$color-accent: #246A73;
$color-dark: #160F29;