{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<main>
    <div class="container">
        <h1>Bienvenue sur How I Met My Human</h1>
        <p>Une plateforme pour adopter des animaux et trouver votre compagnon idéal.</p>
        <a href="#" class="btn">Voir les animaux</a>
    </div>
</main>
{% endblock %}
