@font-face {
    font-family: 'Nunito' ;
    src: url(../../fonts/Nunito/Nunito-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'NunitoBold';
    src: url(../../fonts/Nunito/Nunito-Bold.ttf);
    font-weight: 700;

}

@font-face {
    font-family: 'Nunitoextralight';
    src: url(../../fonts/Nunito/Nunito-ExtraLight.ttf);
    font-weight: 200;
}

@font-face {
    font-family: 'NunitoItalic';
    src: url(../../fonts/Nunito/Nunito-Italic.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Courgette';
    src: url(../../fonts/Courgette/Courgette-Regular.ttf);
    font-weight: 400;
    font-size: 3rem;
    letter-spacing: 4px;
}