@font-face {
    font-family: 'Nunito' ;
    src: url(../../fonts/Nunito/static/Nunito-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'NunitoBold';
    src: url(../../fonts/Nunito/static/Nunito-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: 'Nunitoextralight';
    src: url(../../fonts/Nunito/static/Nunito-ExtraLight.ttf);
    font-weight: 200;
}

@font-face {
    font-family: 'NunitoItalic';
    src: url(../../fonts/Nunito/static/Nunito-Italic.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Courgette';
    src: url(../../fonts/Courgette-Regular.ttf);
    font-weight: 400;
}