// IMPORT ABSTRACTS SCSS
@use "abstracts/variables" as *;
@use "abstracts/mixins" as *;

// IMPORT BASE SCSS
@use "base/base";
@use "base/font-face";

// IMPORT COMPONENTS SCSS
@use "components/animation";
@use "components/buttons";
@use "components/cards";
@use "components/form";
@use "components/modale";
@use "components/animals-carousel";

// IMPORT HEADER & FOOTER SCSS
@use "layouts/footer";
@use "layouts/header";

// IMPORT PAGES SCSS
@use "pages/addAnimal";
@use "pages/animals";
@use "pages/homepage";
@use "pages/auth";
@use "pages/associations";
@use "pages/post_registration_association";
@use "pages/adopter_news_form";
@use "pages/profile";
@use "pages/join-association";
@use "pages/comments";

// IMPORT RESPONSIVE SCSS
@use "base/responsive";

